@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Nunito', sans-serif;
    
}

.titulo{
    font-size: 50px;
    color: #fff;
    background:linear-gradient(#7a79e5, #afcfde);
    box-shadow: 0 3px 3px 0 black;
    text-align:center;
}
.titulo2 {
    color:green;
    font-size: 25px;
    
}

p {
    text-align: center;
}
body {
    background: linear-gradient(to bottom,#e8edf8, #7d9ebd);
    background-size: 100% 100%, auto;
    background-attachment: fixed, fixed;
}

.maindiv {
    background: linear-gradient(#6b6ba1,#a2b5e1);
    width: 500px;
    height: 500px;    
    border:2px solid black;
    border-radius: 5%;
    margin: auto auto;
    padding:20px;
   
}
.form{
    padding-top: 5px;
    padding-bottom: 5px;
}
.atividades{
    width: auto;
    height: 20px;

   
}
.atividade{
    display: Flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1daf0;
    border: 2px solid black;
    margin:5px;
    height: 30px;
    padding: 0 5px;
    border-radius: 10px;
    box-shadow:0 2px 3px 0;
   
}
.botaoAtividade{
    width: 28px;
    background-color: #ed4b52;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    
}
span {
    width: 550px;
}

.editButton {
    width: 28px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
}

.mainForm {
    display:flex;
    justify-content: center;
}
#input1:focus {
    outline: none;
    
}
#input1 {
    border: 2px solid black;
    border-radius: 10px;
    width:320px
    

}
#input2 {
    border: 1px solid black;
    padding: 0 5;
    border-radius: 3px;
    font-weight: bold;
}