*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.titulo{
    font-size: 50px;
    color: black;
    
}
.titulo2 {
    color:green;
    font-size: 25px;
    
}

h1 {
    text-align:center;
}
p {
    text-align: center;
}


.maindiv {
    background-color: grey;
    width: 500px;
    height: 500px;    
    border:2px solid black;
    border-radius: 5%;
    margin: auto auto;
    padding:20px;
}
.form{
    padding-top: 5px;
    padding-bottom: 5px;
}
.atividades{
    width: auto;
    height: 20px;
   
}
.atividade{
    display: Flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellowgreen;
    margin:5px
   
}
.botaoAtividade{
    width: 45px;
}

.mainForm {
    display:flex;
    justify-content: center;
}
#input1:focus {
    outline: none;
    
}
#input1 {
    border: 2px solid black;
    border-radius: 10%;

}
#input2 {
    border: 1px solid black;
    padding: 3px 3px;
}